#content {
    background-color: #66665d;
    color: #a58f67;
    height: 200px;
    padding-top: 30px;
}

#content h1 {
    text-align: center;
    margin: 0px;
    padding-bottom: 30px;
    font-size: 20px;
}

#content a {
    display: block;
    text-align: center;
    font-weight: 600;
    color: #bd9c9c;
}
