#content {
    background-color: #66665d;
    color: #a58f67;
    height: 350px;
    width: 100%;
}

#content #uzenetdoboz {
    margin-left: 25%;
    margin-right: 25%;
}

#content h1 {
    margin: 0px;
    padding: 30px 0px 30px 0px;
    text-align: center;
}

/* itt állítom be a keretét a formnak */
#content form {
    padding: 10px;
    border: 2px #a58f67 solid;
    border-radius: 20px;
}